<%= form_with(model: municipe, local: true) do |form| %>
  <!-- ... outras entradas ... -->

  <%= form.fields_for :endereco do |endereco_form| %>
    <h2>Endereco</h2>
    <%= endereco_form.label :cep %>
    <%= endereco_form.text_field :cep %>

    <!-- ... outras entradas de endereço ... -->
  <% end %>

  <%= form.submit %>
<% end %>