<%= form_for @municipe, url: municipe_index_path do |f| %>
  <div style="margin-top: 10px;" >
    <%= f.label :name, "Nome Completo" %>
  </div>
    <%= f.text_field :name, class: 'input-zone' %>

  <div style="margin-top: 10px;">
    <%= f.label :cpf, "CPF" %>
  </div>
    <%= f.text_field :cpf, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :cns, "Cartão Nacional de Saúde" %>
  </div>
    <%= f.text_field :cns, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :email, "Email" %>
  </div>
    <%= f.text_field :email, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :birthdate, "Data de Nascimento"%>
  </div>
    <%= f.date_field :birthdate, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :phone, "Telefone"%>
  </div>
    <%= f.text_field :phone, class: 'form-control' %>

  <h3> Upload Foto </h3>

  <div style="margin-top: 10px;">
    <%= f.label :photo, "Foto" %>
  </div>
    <%= f.file_field :photo, class: 'form-control' %>

  <%= f.fields_for :endereco do |e| %>
    <h3> Endereço </h3>
    <div style="margin-top: 10px;">
      <%= e.label :zipcode, "CEP" %>
    </div>
      <%= e.text_field :zipcode, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :street, "Logradouro" %>
    </div>
      <%= e.text_field :street, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :number, "Número" %>
    </div>
      <%= e.text_field :number, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :complement, "Complemento" %>
    </div>
      <%= e.text_field :complement, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :district, "Bairro" %>
    </div>
      <%= e.text_field :district, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :city, "Cidade" %>
    </div>
      <%= e.text_field :city, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :state, "Estado" %>
    </div>
      <%= e.text_field :state, class: 'form-control' %>

    <div style= "margin-top: 10px;">
      <%= e.label :ibge_code, "Codigo IBGE" %>
    </div>
      <%= e.text_field :ibge_code, class: 'form-control' %>

  <% end %>

  <div style="margin-top: 10px;">
    <%= f.label :status %>
  </div>
    <%= f.select :status, ['active', 'inactive'], class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.submit 'Salvar informaçoes', class: 'btn btn-primary' %>
  </div>
<% end %>