<%= form_for @municipe, url: new_municipe_path, method: 'POST' do |f| %>
  <div style="margin-top: 10px;" >
    <%= f.label :name, "Nome Completo" %>
  </div>
    <%= f.text_field :name, class: 'input-zone' %>

  <div style="margin-top: 10px;">
    <%= f.label :cpf, "CPF" %>
  </div>
    <%= f.text_field :cpf, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :cns, "Cartão Nacional de Saúde" %>
  </div>
    <%= f.text_field :cns, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :email, "Email" %>
  </div>
    <%= f.text_field :email, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :birthdate, "Data de Nascimento"%>
  </div>
    <%= f.date_field :birthdate, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :phone, "Telefone"%>
  </div>
    <%= f.text_field :phone, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :status %>
  </div>
    <%= f.select :status, ['active', 'inactive'], class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.submit 'Adicionar Municipe', class: 'btn btn-primary' %>
  </div>
<% end %>