<%= form_for @municipe, url: new_municipe_path do |f| %>
  <div style="margin-top: 10px;" >
    <%= f.label :name, "Nome Completo" %>
  </div>
    <%= f.text_field :name, class: 'input-zone' %>

  <div style="margin-top: 10px;">
    <%= f.label :cpf, "CPF" %>
  </div>
    <%= f.text_field :cpf, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :cns, "Cartão Nacional de Saúde" %>
  </div>
    <%= f.text_field :cns, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :email, "Email" %>
  </div>
    <%= f.text_field :email, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :birthdate, "Data de Nascimento"%>
  </div>
    <%= f.date_field :birthdate, class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.label :phone, "Telefone"%>
  </div>
    <%= f.text_field :phone, class: 'form-control' %>

  <h3> Upload Foto </h3>

  <div style="margin-top: 10px;">
    <%= f.label :photo, "Foto" %>
  </div>
    <%= f.file_field :photo, class: 'form-control' %>

  <%= f.fields_for :endereco do |e| %>
    <h3> Endereço </h3>
    <div style="margin-top: 10px;">
      <%= e.label :cep, "CEP" %>
    </div>
      <%= e.text_field :cep, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :logradouro, "Logradouro" %>
    </div>
      <%= e.text_field :logradouro, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :numero, "Número" %>
    </div>
      <%= e.text_field :numero, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :complemento, "Complemento" %>
    </div>
      <%= e.text_field :complemento, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :bairro, "Bairro" %>
    </div>
      <%= e.text_field :bairro, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :cidade, "Cidade" %>
    </div>
      <%= e.text_field :cidade, class: 'form-control' %>

    <div style="margin-top: 10px;">
      <%= e.label :estado, "Estado" %>
    </div>
      <%= e.text_field :estado, class: 'form-control' %>

    <div style= "margin-top: 10px;">
      <%= e.label :codigo_ibge, "Codigo IBGE" %>
    </div>
      <%= e.text_field :codigo_ibge, class: 'form-control' %>

  <% end %>

  <div style="margin-top: 10px;">
    <%= f.label :status %>
  </div>
    <%= f.select :status, ['active', 'inactive'], class: 'form-control' %>

  <div style="margin-top: 10px;">
    <%= f.submit 'Adicionar Municipe', class: 'btn btn-primary' %>
  </div>
<% end %>